##########  Git   ############
**/.git
!**/.gitkeep

##########  Data  ############
**/*.log
**/*.p
**/*.gz
**/*.zip
**/*.model

########## Python ############
# Cache files
**/__pycache__
**/*.pyc
**/.cache
**/SECRETS.py

# Venv
**/venv

######### Editors ############
# Vim files
**/*.swo
**/*.swp
*~
# IDE filter for .idea 
**/.idea
# Macs
**/.DS_Store


